<link rel="apple-touch-icon" sizes="152x152" href="/../img/favicon_package_v0.16/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/../img/favicon_package_v0.16/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/../img/favicon_package_v0.16/favicon-16x16.png">
<link rel="manifest" href="/../img/favicon_package_v0.16/site.webmanifest">
<link rel="mask-icon" href="/../img/favicon_package_v0.16/safari-pinned-tab.svg" color="#5bbad5">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
