/*-- scss:defaults --*/
$primary: #52c2c7;
$link-color: #52c2c7;
$navbar-bg: #222222;
$navbar-fg: #e6e6e6;

/*-- scss:rules --*/
.navbar {
  border-bottom: 3px solid #cdd63e;
}

.navbar-brand img {
  max-height: 32px;
}

.about-image {
  image-rendering: pixelated;
}
