/*-- scss:defaults --*/
$primary: #1b7f86;
$link-color: #1b7f86;
$navbar-bg: #ffffff;
$navbar-fg: #403f3f;

/*-- scss:rules --*/
.navbar {
  border-bottom: 3px solid #cdd63e;
}

.navbar-brand img {
  max-height: 32px;
}

.about-image {
  image-rendering: pixelated;
}
